workflows/agente-telegram.json
{
  "name": "agente-telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ce74a084-5526-4d7c-ae1e-ca27d5ae23b3",
      "name": "Telegram Trigger",
      "webhookId": "02449594-2769-409b-b3e8-71cf210d63d7",
      "credentials": {
        "telegramApi": {
          "id": "DOQybXDWjjIwHKcp",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff135f78-5ffd-4211-9bf7-7a9670209129",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "ccf1dea0-f023-44c1-8bd5-582985fa1b89",
              "name": "messageText",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "7bd3b717-1166-46e2-9a22-ec7152f69af7",
              "name": "userFirstName",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "01a4d776-c5a3-4544-ab5d-97d0a4641043",
              "name": "timestamp",
              "value": "={{ $json.message.date }}",
              "type": "number"
            },
            {
              "id": "3e029f29-1549-4374-86fd-0da83ce46d21",
              "name": "today",
              "value": "={{ new Date().toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "0c848bde-1306-40b8-9a4e-1d05f5da6a76",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "=A data de hoje é {{ $json.today }}.\nVocê é um assistente de agendamento de consultas da Clínica Rigatti. Sua missão é agendar consultas de forma amigável e eficiente, seguindo as regras da clínica.\n\nRegras de agendamento:\n- O Dr. Rigatti atende apenas de segunda a sexta-feira.\n- O Dr. Rigatti atende apenas no período da tarde, das 14h00 às 18h30.\n- Cada consulta tem a duração de **60 minutos**.\n- **O último horário de agendamento disponível deve ser 17h30, pois uma consulta de 60 minutos terminaria às 18h30.**\n- O valor da consulta é de R$ 600.\n- A clínica não realiza agendamentos em horários fora do expediente (antes das 9h, entre 11h30 e 14h, ou após as 18h30).\n- A clínica não atende aos finais de semana.\n- Exames obrigatórios têm validade máxima de 6 meses. O paciente deve ser informado sobre isso.\n\nInstruções para a conversa:\n- Inicie a conversa de forma profissional, se apresentando como o assistente virtual da Clínica Rigatti.\n- Conduza a conversa de maneira natural e amigável, fazendo perguntas passo a passo para coletar as informações necessárias para o agendamento:\n    1. Nome do paciente.\n    2. Data da consulta (verifique se está dentro dos dias e horários de atendimento).\n    3. Confirme se o paciente tem exames com validade de 6 meses.\n\nInstruções para o uso de ferramentas:\n\n- Use a ferramenta `Consultar` sempre que o paciente solicitar a verificação de um dia ou horário para consulta.\n- Sua principal prioridade é converter datas relativas (ex: \"amanhã\", \"depois de amanhã\",\"semana que vem\", \"próxima terça\", etc.) para o formato YYYY-MM-DD. Se a data relativa for clara, não peça ao usuário por uma data exata; apenas faça a conversão e use a ferramenta.\n- Se a ferramenta retornar uma lista vazia de eventos, isso significa que **todos os horários entre 14h00 e 18h30 estão disponíveis** para agendamento.\n- Se a ferramenta retornar uma lista de eventos, o paciente não pode agendar nesses horários. Você deve oferecer os horários que não constam nessa lista.\n- Formate a lista de horários disponíveis como uma lista simples, separando os horários por vírgulas, NUNCA USAR ASTERISCOS ou formatação especial.\n- Use a ferramenta `Agendar` APENAS quando o paciente confirmar todos os detalhes do agendamento (nome, data, hora, etc.).\n- Não tente agendar ou verificar horários sem usar a ferramenta apropriada. Apenas retorne a informação que a ferramenta fornecer.\n\n- Mantenha o contexto da conversa, lembrando das informações já fornecidas pelo paciente.\n- Quando tiver todas as informações (nome, data, e confirmação sobre os exames), use a ferramenta de agendamento para finalizar o processo.\n- Se o paciente pedir um horário fora do expediente ou em um dia de final de semana, informe-o sobre as regras da clínica de forma educada e ofereça horários alternativos.\n- Ao finalizar o agendamento, peça ao paciente para confirmar os dados antes de criar o evento. A mensagem de confirmação final deve ser clara e conter todos os detalhes do agendamento.\n- Ao usar as ferramentas, garanta que os parâmetros de entrada sejam fornecidos corretamente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "7ce1dcda-4b92-4fe8-9042-c6cb0b3b4a5b",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "439bd563-0691-4b80-b6e2-378ae512a3ed",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "trPSObTDyIzdcFMl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chatId }}",
        "text": "={{ $json.outputSemFormatacao }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        0
      ],
      "id": "7f71df28-062b-4f74-8e02-4b233a90a034",
      "name": "Send a text message",
      "webhookId": "b21322d5-93e9-4daa-ad33-dfed8d96a091",
      "credentials": {
        "telegramApi": {
          "id": "DOQybXDWjjIwHKcp",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        368
      ],
      "id": "22ce9b3a-f88b-466b-8b62-9e3242093488",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a76ba87-c802-40d5-9462-c629e7578c05",
              "name": "outputSemFormatacao",
              "value": "={{ $json.output.replace(/[*_~`]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "4f4bae9f-1095-4cd3-9e31-a6b6fa5203b1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Verifica eventos existentes no Google Calendar para encontrar horários disponíveis. Esta ferramenta espera que o parâmetro de data seja no formato 'YYYY-MM-DD'. Não use esta ferramenta sem uma data válida neste formato.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mariah.hoffmann@gmail.com",
          "mode": "list",
          "cachedResultName": "mariah.hoffmann@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        576,
        368
      ],
      "id": "37297d6b-33cc-43a5-a376-9a8df3a48e58",
      "name": "Consultar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gEAIeSRBmrNg4fL3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cria um novo evento no Google Calendar para agendar uma consulta. Use esta ferramenta APENAS quando tiver todas as informações do paciente e a confirmação final.",
        "calendar": {
          "__rl": true,
          "value": "mariah.hoffmann@gmail.com",
          "mode": "list",
          "cachedResultName": "mariah.hoffmann@gmail.com"
        },
        "start": "={{ $fromAI('Start', `Data e horário escolhido pelo usuário`, 'string') }}",
        "end": "={{ $fromAI('End', `60 minutos após o início`, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `O titulo deve conter o nome do usuário/paciente que solicitou o exame`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        752,
        368
      ],
      "id": "f0a39cf0-182d-4755-9902-57bdf2dd9618",
      "name": "Agendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gEAIeSRBmrNg4fL3",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "528775d0-c4d4-4777-a3bd-5ef50dcc626b",
      "name": "Atendimento finalizado"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Atendimento finalizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "050ef8e7-eb8b-4c08-be11-e9b5d4c7d9d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "459db6015e241644d3a8f20b5d1fe3155155e138137927fa05eb9aa3a0e49c8c"
  },
  "id": "WaZS0sGznV4RpMvJ",
  "tags": []
}